*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gilroy';
    color: white;
}

body,html{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(27, 26, 26);
    
    
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding:0 30px;
    
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 30px;
}

#nav h3{
    font-size: 25px;
    font-weight: 400;

}

#main h1{
    font-size: 120px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 120px;
    /* background-color: red; */
    width: 80%;
    margin-left: 10%;

}

#main h1:nth-child(2){
    margin-top: 100px;
}

#main h1:nth-child(3){
    text-align: center;
}


#main h1:nth-child(4){
    text-align: center;

}

